USE_REAL_WEATHER_API=true
USE_REAL_POI_API=true
USE_REAL_HOTEL_API=true
USE_REAL_TRANSPORT_API=true

WEATHER_API_PROVIDER=weatherapi
WEATHER_API_KEY=16ba00ae51d2440a9bf150229260104
WEATHER_API_BASE_URL=https://api.weatherapi.com/v1
